body {
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-position: center;
    opacity: 0.98;
    
  }

.IntroPage{
    display: flex;
    justify-content: center;
    align-self:center
}
#startGame{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 40%;
    right: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    background-color: black; /* Green */
    border: none;
    /* color: black; */
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 8px #413f3f;

    border-radius: 40%;
}

@media only screen and (max-width: 600px) {
    #startGame{
        margin: 0;
        position: absolute;
        top: 45%;
        left: 40%;
        right: 10%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
        background-color: black; /* Green */
        border: none;
        /* color: black; */
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 2px 2px 5px 8px #413f3f;
    
        border-radius: 40%;
    }
    
  }